<a href="https://colab.research.google.com/github/mochradja/DataScience/blob/main/e_commerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("sample_data/ecommerce_sales.csv")
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
167099,271110,Flatscreen TV,1,300,10/20/19 08:48,"861 Jefferson St, Boston, MA 02215"
167100,271111,AA Batteries (4-pack),3,3.84,10/03/19 11:50,"31 9th St, Los Angeles, CA 90001"
167101,271112,27in 4K Gaming Monitor,1,389.99,10/18/19 16:37,"205 Pine St, Atlanta, GA 30301"
167102,271113,Wired Headphones,1,11.99,10/30/19 23:15,"311 River St, San Francisco, CA 94016"
167103,271114,Google Phone,1,600,10/05/1,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167104 entries, 0 to 167103
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          166621 non-null  object
 1   Product           166621 non-null  object
 2   Quantity Ordered  166621 non-null  object
 3   Price Each        166621 non-null  object
 4   Order Date        166621 non-null  object
 5   Purchase Address  166620 non-null  object
dtypes: object(6)
memory usage: 7.6+ MB

In [ ]:
df.isna().sum()

Order ID            483
Product             483
Quantity Ordered    483
Price Each          483
Order Date          483
Purchase Address    484
dtype: int64

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [ ]:
df.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [ ]:
df['Order'] = df['Order'].astype('datetime64[ns]')

KeyError: ignored